<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Cart</title>
</head>
<body>
    <h3>Selected Items</h3>
    <table>
        
        <thead>
            <tr>
                <th>Title</th>                
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <!-- Content for the table body goes here -->
            <tr th:each="movie : ${cart}">
                <td th:text="${movie.title}"></td>                
                <td th:text="${movie.price}"></td>
                <td><a th:href="@{/removefromcart/{id}(id=${movie.id})}">Remove</a></td>


            </tr>
            
        </tbody>
        
    </table>
    <h3>Total Price: $<span th:text="${totalPrice}"></span>   <a href=" " class="btn btn-primary">Buy</a></h3>
    

    
    
</body>
</html>