<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Cart</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="#">My Cart</a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/movielist">Movie Store</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <h3>Selected Items</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>                
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- Content for the table body goes here -->
                <tr th:each="movie : ${cart}">
                    <td th:text="${movie.title}"></td>                
                    <td th:text="${movie.price}"></td>
                    <td><a th:href="@{/removefromcart/{id}(id=${movie.id})}" class="btn btn-danger btn-sm">Remove</a></td>
                </tr>
            </tbody>
        </table>
        <h3>Total Price: $<span th:text="${totalPrice}"></span> <a href=" " class="btn btn-primary">Buy</a></h3>
    </div>

    <!-- Bootstrap JS (optional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
