<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
</head>
<body>
    <h1>Hello World!!!</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Release Year</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <!-- Content for the table body goes here -->
            <tr th:each="movie : ${movies}">
                <td th:text="${movie.title}"></td>
                <td th:text="${movie.releaseYear}"></td>
                <td th:text="${movie.price}"></td>
            </tr>
            
        </tbody>
    </table>
    
    
</body>
</html>